@{
    ViewBag.Title = "گزارش من";
}

@section js{
    <script src="~/js/initView/myReport-v.1.js"></script>
    <script src="~/js/viewModel/myReport-v.1.js"></script>
    <script>
        var _basicUrl = '@System.Web.Configuration.WebConfigurationManager.AppSettings["basicDataUrl"]';
        var viewModel;
        $(function () {
            viewModel = initVM({
                customerDetailUrl: _basicUrl,
                getAllSandromicUrl: '@Url.Action("GetAllSyndromics")',
                searchUrl: '@Url.Action("Search")',
                getProUniversityUrl: '@Url.Action("GetProUniversity")',
                getLocationsUrl: '@Url.Action("GetLocation")',
                hasDeleteAccess: '@ViewData["hasDeleteAccess"]' == 'True',
                phoneImgUrl: '@Url.Content("~/content/image/mobile_phone.png")'
            });
            kendo.bind($("#container"), viewModel);
            initView(viewModel);
        });

        MURL = "../..";
    </script>
}

<h2>"گزارش من"</h2>

<div class="demo-section k-header wide">
    <form id="Form" data-role="validator" novalidate="novalidate" action="@Url.Action("Export")" method="post">
        <section class="well">
            <div>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">استان</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="province"
                                    name="province"
                                    class="x1"
                                    data-role="dropdownlist"
                                    data-bind="source: provinceDataSource, value: areaName, events:{change: onProvinceChange}"
                                    data-value-field="AreLocationID"
                                    data-text-field="areaName"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">دانشگاه</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="university"
                                    name="university"
                                    data-role="dropdownlist"
                                    data-bind="source: universityDataSource, value: UniversityID, events:{change: onUniversityChange}"
                                    data-value-field="Id"
                                    data-text-field="Name"
                                    class="x1"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">شبکه بهداشت</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="Network"
                                    name="NetworkId"
                                    data-role="dropdownlist"
                                    data-bind="source: networkDataSource, value: NetworkId, events:{change: onNetworkChange}"
                                    data-value-field="Id"
                                    data-text-field="Name"
                                    class="x1"></select>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-4">مرکز بهداشت</label>
                            <div class="col-sm-8 col-md-6">
                                <select id="Center"
                                        name="CenterId"
                                        data-role="dropdownlist"
                                        data-bind="source: centerDataSource, value: CenterId, events:{change: onCenterChange}"
                                        data-value-field="Id"
                                        data-text-field="Name"
                                        class="x1"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">نوع سندرم</label>
                            <div class="col-sm-8 col-md-6">
                                <select id="SyndromicId"
                                        name="syndromId"
                                        data-role="dropdownlist"
                                        data-bind="source: syndromDataSource, value: syndromId, events:{change: onSyndromChange}"
                                        data-value-field="Id"
                                        data-text-field="Name"
                                        class="x1"></select>
                            </div>
                        </div>
                </div>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">از تاریخ</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="txtstartDate"
                                   name="startDate"
                                   data-bind="value:startDate"
                                   class="k-textbox x1 date" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">تا تاریخ</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="txtendDate"
                                   name="endDate"
                                   data-bind="value:endDate"
                                   class="k-textbox x1 date" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="buttons-wrap">
                <button type="button"
                        id="nextStep"
                        class="k-button k-state-default k-primary"
                        data-role="button"
                        data-bind='click: onSearch'>
                    جستجو
                </button>
            </div>
        </section>
    </form>
    <div>
        <h4>نتیجه جستجو</h4>
        <div id="grid"></div>
    </div>
</div>