@{
    ViewBag.Title = "گزارش سندروم مینیمم";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    ViewData["page-path"] = "گزارشات|لیست خطی مینیمم";
}



<script>
    var _basicUrl = '@System.Web.Configuration.WebConfigurationManager.AppSettings["basicDataUrl"]';
    //var mapurl = _basicUrl + 'Map';
    var viewModel;
    $(function () {
        viewModel = initVm({
            customerDetailUrl: _basicUrl,
            hasDeleteAccess: '@ViewData["hasDeleteAccess"]' == 'True',
            phoneImgUrl: '@Url.Content("~/content/image/mobile_phone.png")',
        });
        kendo.bind($("#container"), viewModel);
        initView(viewModel);
    });

    MURL = "../..";

</script>
<div class="demo-section k-header wide">
    <form id="Form" data-role="validator" novalidate="novalidate" action="@Url.Action("Export")" method="post">
        <section class="well">
            @*<h2 class="ra-well-title">جستجو بر اساس</h2>
                <div class="clearfix"></div>*@
            <div>

                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">استان</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="province" name="province" data-role="dropdownlist" data-bind="source: ArealocationDS, value: AreaLocationID, events:{change: onarelocationChange}"
                                    data-value-field="AreaLocationID" data-text-field="areaName" class="x1"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">دانشگاه</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="university" name="university" data-role="dropdownlist" data-bind="source: UniversityDS, value: UniversityID, events:{change: onuniversityChange}"
                                    data-value-field="Id" data-text-field="Name" class="x1"></select>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="control-label col-sm-4">مرکز بهداشتی درمانی/ بیمارستان</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="Center" name="CenterId" data-role="dropdownlist" data-bind="source: CenterDS, value: CenterId, events:{change: onCenterChange}"
                                    data-value-field="Id" data-text-field="Name" class="x1"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">نوع سندروم</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="SyndromicId" name="syndromId" data-role="dropdownlist"
                                    data-bind="source: SyndromDS, value: syndromId, events:{change: SyndromChange}"
                                    data-value-field="Id"
                                    data-text-field="Name"
                                    class="x1"></select>
                        </div>

                    </div>
                    
                </div>
                
                    @*<div class="form-group">
                        <label class="control-label col-sm-4">کد ملی بیمار</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="nationalCode" name="National_Code" data-bind="value:nationalCode" class="k-textbox x1" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">نام بیمار</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="name" name="name" data-bind="value:name" class="k-textbox x1" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">نام خانوادگی بیمار</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="family" name="family" data-bind="value:family" class="k-textbox x1" />
                        </div>

                    </div>*@
                    
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="buttons-wrap">
                <button type="button" id="nextStep" class="k-button k-state-default k-primary" data-role="button" data-bind='click: onSearch'>جستجو</button>
                <button type="button" class="k-button k-state-default k-primary" data-role="button" data-bind='click: onExport'>خروجی اکسل</button>
            </div>
        </section>
    </form>
    <div>
        <h4>
            نتایج جستجو: گزارش سندروم های ثبت شده
            @if (CurrentSsoUser.IsInGroup("Network") || CurrentSsoUser.IsInGroup("University"))
            {
                <span class="indirect-patient">«رنگ قرمز: بیمار مربوط به یکی از شهرهای تحت پوشش است ولی در مرکزی غیر از مراکز تحت پوشش ثبت شده است»</span>
            }
        </h4>
        <div id="grid"></div>
    </div>
</div>

@Html.Partial("notification")
<script src="~/js/viewModel/report2-v.4.js"></script>
<script src="~/js/initView/report2-v.4.js"></script>
<style>
    .k-grid-content {
        min-height: 60px;
    }

    .demo-section {
        margin: 10px auto;
        padding: 10px;
        border: 1px solid rgba(20,53,80,0.05);
    }
</style>