@model BusinessModel.LabCorporateModel
@{
    ViewBag.Title = "فرم اطلاعات آزمایشگاه";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    ViewData["page-path"] = "آزمایشگاه|فرم اطلاعات آزمایشگاه";
}
<script>
    var viewModel;
    $(function () {
        viewModel = initVm({
            corporateId: parseInt('@Model.CorporateId'),
            saveUrl: '@Url.Action("Save")',
            editUrl: '@Url.Action("Edit", new { id = Model.CorporateId })',

            AreaLocationID: parseInt('@Model.ProvinceId'),
            UniversityProvince: '@Model.ProvinceName',
            UniversityID: parseInt('@Model.UniversityId'),
            NetworkId: parseInt('@Model.NetworkId'),
            CenterId: parseInt('@Model.CenterId'),
            CorpName: '@Model.CorporateName',
            CorpGuid: '@Model.CorporateGuid',

            provinceUrl: '@Url.Action("GetLocation", "Report")',
            universityUrl: '@Url.Action("GetProUniversity", "Report")',
            networkUrl: '@Url.Action("GetProNetwork", "Report")',
            centerUrl: '@Url.Action("GetProCenter", "Report")',
        });
        kendo.bind($("#container"), viewModel);
        initView(viewModel);
    });
</script>
<div class="wide">
    <form id="Form" data-role="validator" novalidate="novalidate">
        <section class="well">
            <h2 class="ra-well-title">ثبت اطلاعات آزمایشگاه</h2>
            <div class="clearfix"></div>
            <div>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">استان</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="province" name="province" data-role="dropdownlist" data-bind="source: ArealocationDS, value: AreaLocationID, events:{change: onarelocationChange}"
                                    data-value-field="AreLocationID" data-text-field="areaName" class="x1"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">دانشگاه</label>
                        <div class="col-sm-8 col-md-6">

                            <select id="university" name="university" data-role="dropdownlist" data-bind="source: UniversityDS, value: UniversityID, events:{change: onuniversityChange}"
                                    data-value-field="Id" data-text-field="Name" class="x1"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">شبکه بهداشت</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="Network" name="NetworkId" data-role="dropdownlist" data-bind="source: NetworkDS, value: NetworkId, events:{change: onNetworkChange}"
                                    data-value-field="Id" data-text-field="Name" class="x1"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">مرکز بهداشتی درمانی/ بیمارستان</label>
                        <div class="col-sm-8 col-md-6">
                            <select id="Center" name="CenterId" data-role="dropdownlist" data-bind="source: CenterDS, value: CenterId, events:{change: onCenterChange}"
                                    data-value-field="Id" data-text-field="Name" class="x1"></select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">نام آزمایشگاه</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="name" name="name" data-bind="value:name" class="k-textbox x1" maxlength="50" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">شناسه در سپاس</label>
                        <div class="col-sm-8 col-md-6">
                            <input id="guid" name="guid" data-bind="value:guid" class="k-textbox x1" maxlength="36" /><br /><br />
                            <a href="http://paygah.behdasht.gov.ir/Organization/SearchOrganization.aspx" target="_blank">
                                استخراج شناسه سپاس از سامانه پایگاه
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="buttons-wrap">
                <button type="button" id="nextStep" class="k-button k-state-default k-primary" data-role="button" data-bind='click: onSave'>ذخیره</button>
            </div>
        </section>
    </form>
</div>

<script src="~/js/initView/LabCorp-form-v.2.js"></script>
<script src="~/js/viewModel/LabCorp-form-v.2.js"></script>

@Html.Partial("notification")